{% extends 'base.html' %}


{% block content %}


<div class="bg-white p-4 p-lg-5" id="reset-password">
    <h2 class="mb-4 text-dark">Cоздать новый пароль</h2>
    <!-- <p class="mb-4">Use this awesome form to sign in users.</p> -->
    <form @submit.prevent="onSubmit">
        <div class="mb-3">
            <div class="input-group">
                <span class="bg-light input-group-text" id="addon-wrapping2"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1em" height="1em">
                        <g>
                            <path fill="none" d="M0 0h24v24H0z"></path>
                            <path d="M10.758 11.828l7.849-7.849 1.414 1.414-1.414 1.415 2.474 2.474-1.414 1.415-2.475-2.475-1.414 1.414 2.121 2.121-1.414 1.415-2.121-2.122-2.192 2.192a5.002 5.002 0 0 1-7.708 6.294 5 5 0 0 1 6.294-7.708zm-.637 6.293A3 3 0 1 0 5.88 13.88a3 3 0 0 0 4.242 4.242z"></path>
                        </g>
                    </svg></span>
                <input v-model="password" type="password" class="form-control" placeholder="Введите пароль" aria-label="Password" aria-describedby="addon-wrapping2"/>
            </div>
            <div v-if="passwordValidationErrorMessage !== null" class="text-danger">[[ passwordValidationErrorMessage ]]</div>
        </div>
        <div class="mb-3">
            <div class="input-group">
                <span class="bg-light input-group-text" id="addon-wrapping2"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="1em" height="1em">
                        <g>
                            <path fill="none" d="M0 0h24v24H0z"></path>
                            <path d="M10.758 11.828l7.849-7.849 1.414 1.414-1.414 1.415 2.474 2.474-1.414 1.415-2.475-2.475-1.414 1.414 2.121 2.121-1.414 1.415-2.121-2.122-2.192 2.192a5.002 5.002 0 0 1-7.708 6.294 5 5 0 0 1 6.294-7.708zm-.637 6.293A3 3 0 1 0 5.88 13.88a3 3 0 0 0 4.242 4.242z"></path>
                        </g>
                    </svg></span>
                <input v-model="passwordConfirmation" type="password" class="form-control" placeholder="Подтвердите пароль" aria-label="Password" aria-describedby="addon-wrapping2"/>
            </div>
            <div v-if="passwordConfirmationValidationErrorMessage !== null" class="text-danger">[[ passwordConfirmationValidationErrorMessage ]]</div>
        </div>
        <div v-if="formErrorMessage != null" class="text-danger mb-3 input-group">[[ formErrorMessage ]]</div>
        <button type="submit" class="btn d-block w-100 btn-primary fw-bold pb-2 ps-3 pe-3 pt-2">Зарегистрироваться</button>
    </form>
</div>


<script>
    new Vue({ 
      el: '#reset-password',
      delimiters: ['[[', ']]'],
      data() {
        return {
            password: null,
            passwordValidationErrorMessage: null,
            passwordConfirmation: null,
            passwordConfirmationValidationErrorMessage: null,
            formErrorMessage: null,
            resetPasswordToken: null
        }
      }, 
      methods: {
        async onSubmit() {
            let formWasFilledIncorrectly = false;

            if (this.password == null){
                this.passwordValidationErrorMessage = 'Пожалуйста введите пароль'
                formWasFilledIncorrectly = true
            }
            else if (this.password.length < 8){
                this.passwordValidationErrorMessage = 'Пароль должен быть длиннее 6 символов'
                formWasFilledIncorrectly = true
            }
            else if (this.password.includes(' ')){
                this.passwordValidationErrorMessage = 'Пароль не должен содержать пробелов'
                formWasFilledIncorrectly = true
            }
            else {
                this.passwordValidationErrorMessage = null
            }

            if (this.passwordConfirmation == null){
                this.passwordConfirmationValidationErrorMessage = 'Пожалуйста подтвердите пароль'
                formWasFilledIncorrectly = true
            }
            else if (this.password != this.passwordConfirmation){
                this.passwordConfirmationValidationErrorMessage = 'Пароли не совпадают'
                formWasFilledIncorrectly = true
            }
            else {
                this.passwordConfirmationValidationErrorMessage = null
            }

            if (formWasFilledIncorrectly){
                return;
            }

            const response = await axios.post(
                '/reset_password', 
                { 
                    password: this.password,
                    token: this.resetPasswordToken
                }
            )

            if (response.data['formErrorMessage']){
                this.formErrorMessage = response.data['formErrorMessage']
                return;
            }
            location.href = response.data['redirect_url']
        },
      },
      mounted(){
        console.log('inside mounted')
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.get('flash') == 'successfulRegistration'){
            this.flashMessage = 'Регистрация прошла успешно'
        }
        this.resetPasswordToken = urlParams.get('token')
      }
  })
</script>



{% endblock %}
